version: '3'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/code
    ports:
      - '8000:8000'
    command: python manage.py runserver 0:8000
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/code
      - /code/node_modules
    ports:
      - '3000:3000'
    command: tail -f /dev/null