html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media screen and (max-width: 816px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: rgb(226, 247, 255);
  background-image:
    radial-gradient(white 20%, transparent 25%),
    radial-gradient(white 20%, transparent 25%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}