html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

@media screen and (max-width: 816px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #E1F8FF;
  height: 100%;
}